.lecturer-body{
    padding-left: 230px;
    padding-right: 20px;
    padding-top: 10px;
 }
 
 
 .lecturer-title{
    font-size:240%;
    font-weight: 600;
    color: grey;

 }

 .lecturer-button{
    margin-top:10px;
    margin-bottom:20px;
 }


 .lecturer-form{
   margin-top:10px;
   border-width:1px;  
   border-style:solid;
   border-radius: 5px;
   border-color:silver;
   width:800px;
   padding:20px;
}


.lecturer-form-number{
   width:150px;
}